@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Animações */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-15%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(10%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(-20%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #000;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

.App {
  background-color: #000;
  min-height: 100vh;
}

.josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
}

.bg-darker {
  background-color: rgba(26, 26, 26, 0.6) !important ;
}

.text-green {
  color: #4caf50;
}

/* Estilo para o cabeçalho */
header {
  position: sticky;
  top: 10px;
  z-index: 1;
  margin-top: 2.6rem;
  animation: slide-top 0.5s ease-in-out;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-brand img {
  max-height: 45px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-item {
  text-decoration: none;
  color: #e1e1e1;
  font-weight: 600;
  transition: color 0.2s;
}
.nav-item:hover {
  color: rgb(255, 0, 0);
}
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #000;
    padding: 10px 0;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-brand,
  .nav-list {
    width: 100%;
    text-align: center;
  }

  .nav-list {
    display: none;
  }

  .nav-list.active {
    display: flex;
  }
}

/* Main */
section {
  margin-top: 7.5rem;
  animation: slide-down 0.5s ease-in;
}

.title {
  font-size: 60pt;
  letter-spacing: 6pt;
  text-transform: uppercase;
  font-weight: 100;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}


/* Estilo para o banner com rolagem infinita */
.scrolling-banner {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.scrolling-content {
  display: inline-block;
  animation: scroll-left 15s linear infinite;
  white-space: nowrap;
}

.scrolling-content img {
  height: 60px;
  margin: 30px;
}

/* Estilos para os projetos */
main .projects .project {
  opacity: 0;
  margin-top: 7.5rem;
  transform: translateX(10%);
  transition: opacity 0.2s ease, transform 2s ease;
}
main .projects .project.animate {
  opacity: 1;
  transform: translateX(0);
}
/* About Section */
.about {
  margin-top: 10rem;
  padding: 20px;
  text-align: center;
}

.about p {
  font-size: 16pt;
}

.photo {
  border-radius: 2rem;
  max-height: 400px;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.contactForm {
  background: rgba(14, 14, 14, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 30px;
  width: 80%;
  max-width: 1000px !important;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  outline: none;
  color: rgba(255, 255, 255, 0.8) !important;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 16px;
  transition: background 0.3s ease-in-out;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease-in-out;
}

.contactForm input:focus::placeholder,
.contactForm textarea:focus::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.contactForm input:focus,
.contactForm textarea:focus {
  background: rgba(255, 255, 255, 0.2);
}

.contactForm button {
  width: 100%;
  padding: 12px;
  background: #008f39;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.contactForm button:hover {
  background: #00b050;
}

/* Estilos para o footer */
footer {
  margin-top: 10rem;
  padding: 10px 20px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icones {
  display: flex;
  gap: 10px;
}

.icones i {
  transition: transform 0.2s;
}

.icones i:hover {
  transform: scale(1.1);
}

.copy-message {
  display: none;
  color: #4caf50;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .icones {
    justify-content: center;
  }
}
